<div class="mm-menu-info">
	<% @menus.where(menu_title_id: title.id).each do |menu| %>
		<p>
			<span class="mm-menu-width">
				<span class="mm-menu-name">
					<%= menu.menu_name %>
				</span>
				<% if menu_writer?(menu.user_id) || (current_user && current_user.admin?) %>
					<%= link_to menu_path(menu), method: :delete, remote: true,
																			 class: "mm-menu-delete" do %>
						<span class="glyphicon glyphicon-remove"></span>
					<% end %>
				<% end %>
				<span class="mm-menu-side-info">
					<%= menu.menu_side_info %>
				</span>
			</span>
			<span class="mm-menu-price">
				<%= number_with_delimiter(menu.menu_price, delimiter: ',') %> 원 
			</span>
		</p>
		<% if menu.menu_info %>
			<p class="mm-menu-info">
				<%= menu.menu_info %>
			</p>
		<% end %>
	<% end %>
</div>
