<div class="container mm-field">
	<div class="col-md-8 col-md-offset-2">
		<div class="col-md-10 col-md-offset-1">
			
			<h1 id="mm-field-h1">이 세상 모든 메뉴판이 검색되는 그날까지
				<span class="mm-logo-font">MenuMap</span>
			</h1>
			<legend id="mm-field-legend">계정 설정 변경</legend>

			<%= form_for(:user, url: user_path, method: :patch) do |f| %>
				<%= render 'shared/error_messages' %>

				<%= f.label :email, "이메일(ID)", class: "control-label" %>
				<%= f.email_field :email, class: "form-control", disabled: true %>

				<%= f.label :username, "닉네임", class: "control-label" %>
				<%= f.text_field :username, class: "form-control" %>

				<%= f.label :password, "비밀번호", class: "control-label" %>
				<%= f.password_field :password, class: "form-control" %>

				<%= f.label :password_confirmation, "비밀번호 확인", 
																						 class: "control-label" %>
				<%= f.password_field :password_confirmation, class: "form-control" %>
				<%= f.submit "변경사항 저장", class: "btn btn-primary mm-btn-orange" %>
			<% end %>

		</div>
	</div>
</div>
