<div class="mm-rest-info">
	<div class="mm-rest-info-title">
		<h1 class="mm-rest-name mm-ins-03-h1"><%= @restaurant.name %></h1>
	</div>
	
	<div class="mm-rest-info-cts">
		<div class="row mm-rest-info-row">
		
			<div class="col-xs-4">
				<div class="mm-rest-info-img">
					<% if @restaurant.picture? %>
						<%= image_tag @restaurant.picture.url(:thumb), class: "img-rounded" %>
					<% else %>
						<p class="mm-rest-img-rpm">
							<span class="mm-logo-font">MenuMap</span>
							<span class="mm-rest-img-ing">사진 준비중...</span>
						</p>
					<% end %>
				</div>
			</div>

			<div class="col-xs-8">
				<div class="mm-rest-info-tb">
				
					<table class=table">
						<tr>
							<th>분류 :</th>
							<td>
								<span class="hidden-xs">
									<%= @restaurant.cat %>
									<span class="glyphicon glyphicon-chevron-right"></span>
								</span>
								<%= @restaurant.sub_cat %>
							</td>
						</tr>
						<tr>
							<th>지역 :</th>
							<td><%= short_addr(@restaurant.addr) %></td>
						</tr>
						<tr>
							<th>전화 :</th>
							<td>
								<% unless @restaurant.phnum.blank? %>
									<%= @restaurant.phnum %>
									<a href="tel://<%= @restaurant.phnum %>" class="visible-xs-inline">
									<span class="glyphicon glyphicon-earphone"></span></a>
								<% end %>
							</td>
						</tr>
						<tr> 
							<th>영업 :</th>
							<td><%= @restaurant.open_at %></td>
						</tr>
					</table>

				</div>
			</div>

		</div>
	</div>

	<div class="mm-rest-info-ft">
		<% if @restaurant.delivery %>
			<span class="label label-info mm-rest-info-label">
				배달가능 업소
			</span>
		<% end %>
		<span class="label mm-rest-info-label label-<%= css_on_menu(@restaurant.menu_on) %>">
			<%= words_on_menu(@restaurant.menu_on) %>
		</span>
	</div>
</div>

<!-- google maps -->
<div class="mm-gm">
	<div id="map-canvas"></div>
</div>
<div class="hidden" id="restaurant_address"><%= @restaurant.addr %></div>
<div class="hidden" id="restaurant_name"><%= @restaurant.name %></div>

<!-- menu section -->
<div class="mm-rest-info mm-menu">
	<div class="mm-rest-info-title">
		<h2 class="mm-menu-h2">메뉴</h2>
		<p class="mm-menu-p-warning">실제 매장의 메뉴 및 가격은 다를 수 있습니다.</p>
	</div>
	<% @titles.each do |title| %>
		<div class="mm-menu-title">
			<div class="mm-menu-title-name" data-toggle="collapse" 
																 href="#menu-<%= title.id %>">
				<h3><%= title.title_name %></h3>
			</div>
			
			<div id="menu-<%= title.id %>" class="panel-collapse collapse" >
				<div class= "mm-menu-toggle">
					<% if title.title_info %>
						<div class="mm-menu-title-info">
							<p><%= title.title_info %></p>
						</div>
					<% end %>
					<div class="mm-menu-info">
						<% @menus.where(menu_title_id: title.id).each do |menu| %>
							<p>
								<span class="mm-menu-width">
									<span class="mm-menu-name">
										<%= menu.menu_name %>
									</span>
									<span class="mm-menu-side-info">
										<%= menu.menu_side_info %>
									</span>
								</span>
								<span class="mm-menu-price">
									<%= number_with_delimiter(menu.menu_price, delimiter: ',') %> 원 
								</span>
							</p>
							<% if menu.menu_info %>
								<p class="mm-menu-info">
									<%= menu.menu_info %>
								</p>
							<% end %>
						<% end %>
					</div>

				</div>
			</div>
		</div>
	<% end %>
</div>

