<!-- Main body of Home -->
<!-- Index section 01 -->
<div id="home01">
	<div class="container-fluid">
		<div class="row">
			<h2 id="mm-index-h2">이 세상 모든 메뉴판이 검색되는 그날까지</h2>
		</div>
		<div class="row">
			<h1 id="mm-index-h1">MenuMap</h1>
		</div>
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<a href="/search">
					<button id="mm-index-btn" class="btn btn-block btn-primary">
						음식점 검색하러 가기<span class="glyphicon glyphicon-search"></span>
					</button>
				</a>
			</div>
		</div>
	</div>	
</div>

<!-- Index section 02 -->
<div id="home02">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<p><span class="mm-logo-font">MenuMap</span>은</p>
			</div>
			<div class="col-md-7">
				<blockquote>
					<h3 class="mm-index-h3">온라인 메뉴제공 서비스입니다.</h3>
					<h3 class="mm-index-h3">객관적인 정보를 전달합니다.</h3>
					<h3 class="mm-index-h3">여러분과 함께 만들어갑니다.</h3>
				</blockquote>
			</div>
		</div>
	</div>
</div>

<!-- Index section 03 -->
<div id="home03">
	<div class="container">
		<div id="mm-index-step-title" class="row">
			<h4 id="mm-index-h4">이 세상 모든 메뉴판이 검색되는 그날까지 <span class="mm-logo-font">MenuMap</span></h4>
			<h5 id="mm-index-h5">간편 매뉴얼</h5>
		</div>
	</div>
</div>

<!-- Index section 04 -->
<div id="home04">
	<div class="container">
		<div class="row">
			<div>
				<h6 class="mm-index-h6"><span class="mm-logo-font">Step 1.</span> 검색</h6>
				<div class="col-md-6 mm-ins-01">
				
				<!-- Search instruction -->
				<%= form_tag restaurants_path, method: "get", class: "form-horizontal" do %>
					<fieldset>
					
						<div class="form-group" id="mm-search-addr">
							<%= label_tag :addr, "지역", class: "control-label col-xs-12 col-md-2" %>
							<div class="col-md-10 mm-search-input">
								<%= text_field_tag :addr, nil, class: "form-control", 
																	 placeholder: "예) 서울대, 신촌, 홍대역" %>
							</div>
						</div>

						<div class="form-group col-xs-12" id="mm-search-rdbtn">
							<%= check_box_tag (:delivery) %>
							<%= label_tag :delivery, "배달음식점만 보여주기" %>
						</div>

						<div class="form-group mm-ins-01-cat">
							<%= label_tag :category, "음식분류", 
																						class: "control-label col-xs-12 col-md-2" %>
							<div class="col-xs-6 col-md-5 left-category">
								<%= select_tag(:category, 
									options_for_select(@cat.collect { |cat| [cat.name, cat.id] }, 1), 
																						{ id: 'category_select',
																							class: "form-control" }) %>
							</div>
							<div class="col-xs-6 col-md-5 right-category">
								<%= select_tag(:sub_category, 
									options_for_select(@sub.collect { |sub| [sub.name, sub.name] }, 1), 
																						{ id: 'sub_category_select',
																							class: "form-control" }) %>
							</div>
						</div>
						
						<div class="form-group">
							<%= label_tag :name, "업소명", class: "control-label col-xs-12 col-md-2" %>
							<div class="col-md-10 mm-search-input">
								<%= text_field_tag :name, nil, class: "form-control", 
																	 placeholder: "업소명을 적어주세요." %>
							</div>
						</div>

						<div class="form-group mm-search-btns">
							<%= link_to "취소", search_path, 
																	class: "btn btn-default mm-btn-dark-grey" %>
							<%= submit_tag "검색", class: "btn btn-primary mm-btn-orange" %>
						</div>

					</fieldset>
				<% end %>

				<script>
					$(document).ready(function() {
						$('#category_select').change(function() {
							$.ajax({
								url: "<%= update_sub_categories_path %>",
								data: {
									category_id : $('#category_select').val()
								},
								dataType: "script"
							});
						});
					});
				</script>

				</div>
				<div class="col-md-6 mm-index-step-contents">
					<p>찾고자 하는 지역, 음식분류</p>
					<p>또는 음식점 상호를 입력하고</p>
					<p>검색을 눌러주세요!</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="mm-ins-02">
				<h6 class="mm-index-h6 mm-index-h6-2nd"><span class="mm-logo-font">Step 2.</span> 포스트</h6>
				<a href="http://menumap.co.kr/restaurants?utf8=%E2%9C%93&addr=&category=1&sub_category=%EC%A0%84%EC%B2%B4&name=&commit=%EA%B2%80%EC%83%89">
				<div class="col-md-6 col-md-push-6">

					<% @restaurants.each do |restaurant| %>
					<div class="mm-rest-info">
						<div class="mm-rest-info-title">
							<h1 class="mm-rest-name mm-ins-02-h1"><%= restaurant.name %></h1>
						</div>
						
						<div class="mm-rest-info-cts">
							<div class="row mm-rest-info-row">
							
								<div class="col-xs-4">
									<div class="mm-rest-info-img">
										<% if restaurant.picture? %>
											<%= image_tag restaurant.picture.url(:thumb), class: "img-rounded" %>
										<% else %>
											<p class="mm-rest-img-rpm">
												<span class="mm-logo-font">MenuMap</span>
											</p>
										<% end %>
									</div>
								</div>

								<div class="col-xs-8">
									<div class="mm-rest-info-tb">
									
										<table class=table">
											<tr>
												<th>분류 :</th>
												<td>
													<span class="hidden-xs">
														<%= restaurant.cat %>
														<span class="glyphicon glyphicon-chevron-right"></span>
													</span>
													<%= restaurant.sub_cat %>
												</td>
											</tr>
											<tr>
												<th>지역 :</th>
												<td><%= short_addr(restaurant.addr) %></td>
											</tr>
											<tr>
												<th>전화 :</th>
												<td>
													<% unless restaurant.phnum.blank? %>
														<%= restaurant.phnum %>
														<a href="tel://<%= restaurant.phnum %>" class="visible-xs-inline">
														<span class="glyphicon glyphicon-earphone"></span></a>
													<% end %>
												</td>
											</tr>
											<tr> 
												<th>영업 :</th>
												<td><%= restaurant.open_at %></td>
											</tr>
										</table>

									</div>
								</div>

							</div>
						</div>

						<div class="mm-rest-info-ft">
							<% unless restaurant.menus.blank? %>
								<p class="mm-menu-best mm-menu-best-<%= delivery_css(restaurant.delivery) %>">
									대표메뉴: <%= restaurant.menus[0].menu_name %>
														<%= ", " + restaurant.menus[1].menu_name if restaurant.menus[1] %>
								</p>
							<% end %>
							<% if restaurant.delivery %>
								<span class="label label-info mm-rest-info-label">
									배달가능 업소
								</span>
							<% end %>
							<span class="label mm-rest-info-label label-<%= css_on_menu(restaurant.menu_on) %>">
								<%= words_on_menu(restaurant.menu_on) %>
							</span>
						</div>
					</div>
					<% end %>

				</div>
				</a>

				<div class="col-md-6 col-md-pull-6 mm-index-step-contents">
					<p>객관적인 필터링으로</p>
					<p>자신이 입력한 조건에 맞는</p>
					<p>음식점들이 나오면, 관심있는</p>
					<p>음식점 페이지를 클릭해주세요!</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="mm-ins-03">
				<h6 class="mm-index-h6"><span class="mm-logo-font">Step 3.</span> 상세 페이지</h6>
				<div class="col-md-6">
					<%= render 'menu_titles' %>
				</div>

				<div class="col-md-6 mm-index-step-contents">
					<p>상세 페이지를 통해</p>
					<p>해당 음식점의 메뉴와</p>
					<p>기본 정보들을</p>
					<p>한 눈에 볼 수 있습니다.</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<a href="/search">
					<button id="mm-index-btn2" class="btn btn-block btn-primary">
						<span class="mm-logo-font-inv">MenuMap</span> 검색하기
					</button>
				</a>
			</div>
		</div>
	</div>
</div>
