<!-- Main body of Search -->
<% provide(:title, "음식점 검색") %>
<div class="container home-search">
	<div class="col-md-8 col-md-offset-2">
		<div class="col-md-10 col-md-offset-1">
			<%= form_tag restaurants_path, method: "get", class: "form-horizontal" do %>
				<fieldset>
				
					<h2 id="mm-search-h2">이 세상 모든 메뉴판이 검색되는 그날까지</h2>
					<h1 id="mm-search-h1">
						<span class="mm-logo-font">MenuMap</span> 검색하기
					</h1>

					<div class="form-group" id="mm-search-addr">
						<%= label_tag :addr, "지역", class: "control-label col-xs-12 col-md-2" %>
						<div class="col-md-10 mm-search-input">
							<%= text_field_tag :addr, nil, class: "form-control", 
																 placeholder: "예) 서울대입구역, 신촌, 홍대" %>
						</div>
					</div>

					<div class="form-group col-xs-12" id="mm-search-rdbtn">
						<%= label_tag :delivery, "배달음식점만 보여주기" %>
						<%= check_box_tag (:delivery) %>
					</div>

					<div class="form-group">
						<%= label_tag :category, "음식분류", 
																					class: "control-label col-xs-12 col-md-2" %>
						<div class="col-xs-6 col-md-5 left-category">
							<%= select_tag(:category, 
							 options_for_select(@cat.collect { |cat| [cat.name, cat.id] },	1),
							 { id: 'category_select', class: "form-control" }) %>
						</div>
						<div class="col-xs-6 col-md-5 right-category">
							<%= select_tag(:sub_category, 
							 options_for_select(@sub.collect { |sub| [sub.name, sub.name] }, 1),
							 { id: 'sub_category_select', class: "form-control" }) %>
						</div>
					</div>
					
					<div class="form-group">
						<%= label_tag :name, "업소명", class: "control-label col-xs-12 col-md-2" %>
						<div class="col-md-10 mm-search-input">
							<%= text_field_tag :name, nil, class: "form-control", 
																 placeholder: "업소명을 적어주세요." %>
						</div>
					</div>

					<div class="form-group mm-search-btns">
						<%= link_to "취소", search_path, 
																class: "btn btn-default mm-btn-dark-grey" %>
						<%= submit_tag "검색", class: "btn btn-primary mm-btn-orange" %>
					</div>

				</fieldset>
			<% end %>
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {
		$('#category_select').change(function() {
			$.ajax({
				url: "<%= update_sub_categories_path %>",
				data: {
					category_id : $('#category_select').val()
				},
				dataType: "script"
			});
		});
	});
</script>
