<!-- Main body of Help -->
<% provide(:title, "자주묻는 질문") %>
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div id="mm-help">

				<div id="mm-help-title">
					<h2 id="mm-help-h2">이 세상 모든 메뉴판이 검색되는 그날까지
						<span class="mm-logo-font">MenuMap</span>
					</h2>
					<h1 id="mm-help-h1">자주묻는 질문</h1>
				</div>

				<% @qnas.each do |qna| %>
					<div class="mm-help-qna">
						<h3 class="mm-help-h3" data-toggle="collapse" href="#mm-help-col-<%= qna.id %>">
							<span class="mm-logo-font">Q.</span>
							<%= qna.help_title %>
						</h3>
						<div id="mm-help-col-<%= qna.id %>" class="panel-collapse collapse">
							<p class="mm-help-cts">
								<span class="mm-logo-font">A.</span>
								<%= qna.help_contents.html_safe %>
								<% if logged_in? && current_user.admin? %>
									<%= link_to "변경", edit_help_qna_path(qna) %>
									<%= link_to "삭제", qna, method: :delete,
																			data: { confirm: "지울 건가?" } %>
								<% end %>
							</p>
						</div>
					</div>
				<% end %>

				<% if logged_in? && current_user.admin? %>
					<div>
						<%= link_to "자주묻는 질문 등록", new_help_qna_path %>
					</div>
				<% end %>

				<div class="mm-help-ask-btn">
					<button type="button" class="btn btn-block mm-btn-orange" data-toggle="modal" data-target="#myModal">
						질문하기
					</button>
				</div>
				
				<%= render @ask_qna %>

			</div>
		</div>
	</div>
</div>
