<div class="mm-rest-info">
	<div class="mm-rest-info-title">
		<h1 class="mm-rest-name mm-rest-show-name"><%= @restaurant.name %></h1>
		<%= render "mymap_relationships/mymap_form" %>
	</div>
	
	<div class="mm-rest-info-cts">
		<div class="row mm-rest-info-row">
		
			<div class="col-xs-4">
				<div class="mm-rest-info-img">
					<% if @restaurant.picture? %>
						<%= image_tag @restaurant.picture.url(:thumb), class: "img-rounded" %>
					<% else %>
						<p class="mm-rest-img-rpm">
							<span class="mm-logo-font">MenuMap</span>
							<span class="mm-rest-img-ing">사진 준비중...</span>
						</p>
					<% end %>
				</div>
			</div>

			<div class="col-xs-8">
				<div class="mm-rest-info-tb">
				
					<table class=table">
						<tr>
							<th>분류 :</th>
							<td>
								<span class="hidden-xs">
									<%= @restaurant.cat %>
									<span class="glyphicon glyphicon-chevron-right"></span>
								</span>
								<%= @restaurant.sub_cat %>
							</td>
						</tr>
						<tr>
							<th>지역 :</th>
							<td><%= short_addr(@restaurant.addr) %></td>
						</tr>
						<tr>
							<th>전화 :</th>
							<td>
								<% if !@restaurant.phnum.blank? %>
									<a href="tel://<%= @restaurant.phnum %>" 
																								class="visible-xs-inline">
									<%= @restaurant.phnum %>
									<span class="label label-info">
										<span class="glyphicon glyphicon-earphone"></span>
									</span>
								<% end %>
							</td>
						</tr>
						<tr> 
							<th>영업 :</th>
							<td><%= @restaurant.open_at %></td>
						</tr>
					</table>

				</div>
			</div>

		</div>
	</div>

	<div class="mm-rest-info-ft mm-rest-show">
		<div>
			<% if @restaurant.delivery %>
				<span class="label label-info mm-rest-info-label">
					배달가능 업소
				</span>
			<% end %>
			<span class="label mm-rest-info-label label-<%= css_on_menu(@restaurant.menu_on) %>">
				<%= words_on_menu(@restaurant.menu_on) %>
			</span>
		</div>
		<div class="visible-xs-inline">
			<button type="button" id="mm-share-modal-btn" class="btn btn-info"
														data-toggle="modal" data-target="#mm-share-modal">
				<span class="glyphicon glyphicon-share"></span> 공유하기</span>
			</button>
		</div>
	</div>
</div>

<!-- modal for share -->
<div class="modal fade" id="mm-share-modal" tabindex="-1" role="dialog"> 
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					&times;
				</button>
				<h4 class="modal-title" id="rest-err-modal-h4">
					<span class="mm-logo-font">MenuMap</span> 공유하기
				</h4>
			</div>
			
			<div class="modal-body">
				<a id="kakao-link-btn" href="javascript:;"> 
					<%= image_tag "kakaolink_btn_medium.png" %>
				</a>
			</div>

		</div>
	</div>
</div>

<script>
Kakao.init('b70f6a7f613990d891d44aed583752a4');

Kakao.Link.createTalkLinkButton({
	container: '#kakao-link-btn',
	label: '[<%= @restaurant.name %>]\n' +
				 '음식분류: <%= @restaurant.sub_cat %>\n' +
				 '<%= "전화번호: " if !@restaurant.phnum.blank? %>' +  
				 '<%= @restaurant.phnum + '\n' if !@restaurant.phnum.blank? %>' +
				 '주소: <%= @restaurant.addr %>', 
	webButton: {
		text: 'MenuMap 위치보기',
		url: 'http://www.menumap.co.kr/restaurants/<%= @restaurant.id %>' 
	}
});
</script>
