<!-- main_btn_group -->
<div id="mm-main-btn-group">
	<div class="btn-group btn-group-justified">
		<div class="btn-group">
			<button type="button" class="btn btn-default" data-toggle="collapse"
												data-target="#mm-show-btn1" data-parent="#mm-show-info"> 
				<span class="glyphicon glyphicon-list-alt"></span>상세 정보
			</button>
		</div>
		<div class="btn-group">
			<button type="button" class="btn btn-default" data-toggle="collapse"
												data-target="#mm-show-btn2" data-parent="#mm-show-info"> 
				<span class="glyphicon glyphicon-picture"></span>사진 보기
			</button>
		</div>
		<div class="btn-group">
			<button type="button" class="btn btn-default" data-toggle="collapse"
												data-target="#mm-show-btn3" data-parent="#mm-show-info"
																										onclick="loadGoogleMaps()">
				<span class="glyphicon glyphicon-map-marker"></span>지도 확인
			</button>
		</div>
	</div>

	<script>
		function googleMap() {
			var geocoder = new google.maps.Geocoder();
			var restAddr = document.getElementById('restaurant_address').innerHTML;
			var restName = document.getElementById('restaurant_name').innerHTML;
			geocoder.geocode( { 'address': restAddr}, function(results, status) {
				if (status == google.maps.GeocoderStatus.OK) {
					var restLatLng = results[0].geometry.location

					var mapOptions = {
							zoom: 15,
							center: restLatLng
					};
					var map = new google.maps.Map(document.getElementById("map-canvas"),mapOptions);

					var marker = new google.maps.Marker({
							map: map,
							position: restLatLng
					});

					var infoWindow = new google.maps.InfoWindow({
							content: '<div id="map-infowindow">' + 
											 '<img src="/logo.jpg" />' +
											 restName + 
											 '</div>'
					});
					infoWindow.open(map, marker);
					google.maps.event.addListener(marker, 'click', function() {
						infoWindow.open(map, marker);
					});

				} else {
					alert('Geocode was not successful for the following reason: ' + status);
				}
			});
		}

		function loadGoogleMaps() {
			var script = document.createElement('script');
			script.type = 'text/javascript';
			script.src = 'http://maps.googleapis.com/maps/api/js?key=AIzaSyB0s-wKE2YW_rreU6vcxkaR44MPzOa4JKg&sensor=false&callback=googleMap';
			document.body.appendChild(script);
		}
	</script>

	<div id="mm-show-info" class="panel-group">
		<div class="panel"> 
			<!-- restaurant's detail -->
			<div id="mm-show-btn1" class="collapse">
				<div class="row">
					<div class="col-xs-3">
						상세 주소 :
					</div>
					<div class="col-xs-9">
						<%= @restaurant.addr %>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3">
						주요 상권 :
					</div>
					<div class="col-xs-9">
						<%= @restaurant.rest_info.title_addr %>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3">
						사장님 한 줄 :
					</div>
					<div class="col-xs-9">
						<%= @restaurant.rest_info.owner_intro %>
					</div>
				</div>
			</div>

			<!--- restaurant's images -->
			<div id="mm-show-btn2" class="collapse"></div>

			<script>
				$("button[data-target=#mm-show-btn2]").click(function() {
					$.ajax({
						url: "<%= parse_rest_imgs_path %>",
						data: {
							id:  <%= @restaurant.id %>,
							name: 	 "<%= @restaurant.name %>",
							addr: 	 "<%= @restaurant.addr %>"
						},
						dataType: "script"
					});
				});
			</script>

			<!-- google maps -->
			<div id="mm-show-btn3" class="collapse">
				<div id="mm-gm">
					<div id="map-canvas"></div>
				</div>
				<div class="hidden" id="restaurant_address"><%= @restaurant.addr %></div>
				<div class="hidden" id="restaurant_name"><%= @restaurant.name %></div>
			</div>
		</div>
	</div>
</div>
