<!-- Restaurant Post page -->
<div class="container mm-post">
	<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 mm-sd-pdd">
		<div class="mm-post-in">

			<% if @restaurants.blank? %>
				<%= render 'no_posts' %>

			<% else %>
				<h1 id="mm-posts-h1">
					<span class="mm-logo-font">MenuMap</span> 검색결과
					<span class="mm-posts-count">
						<span class="mm-logo-font">
							<%= number_with_delimiter(@restaurants.count, delimiter: ',') %>
						</span>
						개
					</span>
				</h1>
				<!-- Individual restaurants -->
				<%= render @restaurants %>

				<!-- Pagination -->
				<div class="mm-wpg visible-xs-block">
					<%= will_paginate @restaurants,	inner_window: 3, outer_window: -1 %>
				</div>

				<div class="mm-wpg hidden-xs">
					<%= will_paginate @restaurants, outer_window: -1 %>
				</div>
			<% end %>

		</div>
	</div>
</div>

<script>
	$(document).ready(function(){
			$("ul.pagination:first").addClass("pagination-sm");
	});
</script>
