<!-- Restaurant Show page -->
<% provide(:page, "rest-show") %>
<div class="container mm-post">
	<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 mm-sd-pdd">
		<div class="mm-post-in">

			<!-- restaurant main information -->
			<%= render "restaurants/main_info" %>

			<!-- image uploader -->
			<% if logged_in? && current_user.admin? %>
				<%= form_for(@restaurant, html: { mulipart: true }) do |f| %>
					<%= f.file_field :picture, accept: 'image/jpeg, image/gif, image/png' %>
					<label>
						<%= f.check_box :remove_picture %>
						사진 지우기
					</label>
					<%= f.submit "사진 올리기", class: "btn btn-primary" %>
				<% end %>
			<% end %>

			<script type="text/javascript">
				$('#restaurant_picture').bind('change', function() {
					size_in_megabytes = this.files[0].size/1024/1024;
					if (size_in_megabytes > 10) {
						alert('최대 사진 크기는 10MB입니다.');
					}
				});
			</script>

			<%= render "restaurants/main_btn_group" %>

			<!-- menu section -->
			<%= render "menus/menu_title" %>

			<!-- comments section -->
			<div class="mm-rest-info mm-menu">
				<div class="mm-rest-info-title">
					<h3 class="mm-cmt-h3">댓글</h3>
					<span class="badge mm-cmt-bdg"><%= @comments.count %></span>
				</div>
				<div class="mm-cmt-sec">
					<div class="mm-cmt-sec-cmts">
						<%= render @comments if !@comments.blank? %>
					</div>
					<%= render "comments/form" %>
				</div>
			</div>

			<!-- restaurant error report part -->
			<div class="mm-rest-err">
				<button type="button" class="btn btn-block mm-btn-orange" 
															data-toggle="modal" data-target="#rest-err-modal">
					음식점 정보가 틀렸나요?
				</button>
			</div>

			<%= render @rest_img %>
			<%= render @report_rest_err %>

			<script>
				$(document).ready( function() {
					$('.mm-menu-title:nth-of-type(2) .collapse').addClass('in');
				});
			</script>
			
		</div>
	</div>
</div>
