<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<title>MenuMap</title>
		<%= stylesheet_link_tag 'application', media: 'all', 
																							'data-turbolinks-track' => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
		<%= render "layouts/shim" %>

	</head>

	<body>
		<!-- Wrap -->
		<div id="wrap">		
			<%= render "layouts/header" %>
			<%= render "layouts/flash" %>
			<%= yield %>
		</div>
		<%= render "layouts/footer" %>

	</body>
</html>
